:root {
  --pixel-size: 2px;
  --grid-cell: calc( var(--pixel-size) * 16);
  --rows: 100;
  --columns: 100;
  --bg: #242424;
  color:white;
}
@media( min-width: 700px ) {
  :root {
     --pixel-size: 3px;
  }
}
@media( min-width: 1000px ) {
  :root {
     --pixel-size: 4px;
  }
}


html, body {
  height: 100%;
  font-size:18px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: var(--bg);
  display: flex;
  flex-direction:column;
  gap:80px;
  align-items: center;
  justify-content: center;
}
a{
  color:white;
  text-decoration: none;
}

ul{
  padding:unset;
}
li{
  list-style: none;
}
.stats{
  display: flex;
  flex-direction:column;
  gap:5px;
}
.stats span{
  font-weight: lighter;
}
.stats li{
  display:flex;
  justify-content: space-between;
  gap:50px;
}
.pixel-art {
  image-rendering: pixelated;
}

.frame {
  /* This is just for Pen decoration */
  /* width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  outline: var(--pixel-size) solid #fff;
  z-index:1; 
  position:relative; */
}

.camera {
  width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  overflow: hidden;
  background: #818181;
  position:relative;
}

.map {
  image-rendering: pixelated;
  background-image: url("https://fxfactory.com/downloads/docs/noiseindustries/fxfactorypro/Thumbnails/Checkerboard.jpg");
  background-size: 100%;
  width: calc(var(--rows) * var(--grid-cell)); 
  height: calc(var(--columns) * var(--grid-cell));
  position: relative;
}

.character {
  width: calc( var(--grid-cell)* 2 );
  height: calc( var(--grid-cell)* 2 );
  position: absolute;
  overflow:hidden;
}



 .character_spritesheet {
   z-index: 2;
  transform: rotate(90deg);
  position: relative;
  background: url("./assets/car.svg") no-repeat no-repeat;
  background-position:center;
  background-size: 100%;
  width: 100%;
  height:100%;
}

.particle{
  z-index: 0;
  position:absolute;
  height:32px;
  width:32px;
  background-color:rgb(154, 154, 154);
}