:root {
  --pixel-size: 2px;
  --tile-pixel-count: 1;
  --grid-cell: calc( var(--pixel-size) * var(--tile-pixel-count));
  --rows: 20;
  --columns: 20;
  --bg: #242424;
  
  color:white;
}
@media( min-width: 700px ) {
  :root {
     --pixel-size: 3px;
  }
}
@media( min-width: 1000px ) {
  :root {
     --pixel-size: 4px;
  }
}


html, body {
  height: 100%;
  font-size:14px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: var(--bg);
  display: flex;
  flex-direction:row;
  gap:20px;
  align-items: flex-start;
  justify-content: center;
}

main{
  display:flex;
  flex-direction:column;
  align-items: center;
}
nav{
  display:flex;
  flex-direction:column;
  gap:10px;
}
a{
  color:white;
  text-decoration: none;
}

ul{
  padding:unset;
}
li{
  list-style: none;
}
.stats{
  display: flex;
  flex-direction:column;
  gap:5px;
}
.stats span{
  font-weight: lighter;
}
.stats li{
  display:flex;
  justify-content: space-between;
  gap:50px;
}
.pixel-art {
  image-rendering: pixelated;
}

#game{
  position:relative;
}
.menu{
  position:absolute;
  z-index:1;
  width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  background-color:rgba(0, 128, 0, 0.407);
}

.menu.main{
  background-color:grey;
}

.menu-button{
  position:absolute;
  z-index:1;
  right:0;
}

.camera {
  width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  overflow: hidden;
  background: #818181;
  position:relative;
}



.map {
  image-rendering: pixelated;
  /* background-image: url("https://fxfactory.com/downloads/docs/noiseindustries/fxfactorypro/Thumbnails/Checkerboard.jpg"); */
  background-size: 100%;
  width: calc(var(--rows) * var(--grid-cell)); 
  height: calc(var(--columns) * var(--grid-cell));
  position: relative;
}

.map-grid{
  width: calc(var(--rows) * var(--grid-cell)); 
  height: calc(var(--columns) * var(--grid-cell));
  display:flex;
  position: absolute;
  background-image: url("https://images.unsplash.com/photo-1670607615489-ccb0b75fa748?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  opacity: 1;
}
.character,.ghost {
  width: calc( var(--grid-cell) * 4);
  height: calc( var(--grid-cell) * 4);
  position: absolute;
  overflow:hidden;
  /* testing */
  border: 1px solid white;
}



 .character_spritesheet, .ghost_spritesheet{
  z-index: 2;
  position: relative;
  background: url("./assets/car.svg") no-repeat no-repeat;
  background-position:center;
  background-size: 100%;
  width: 100%;
  height:100%;


}
.ghost_spritesheet{
  background-color:rgba(255, 255, 255, 0.449);
}
@keyframes particle-fade {
  from{opacity:1;}
  to {opacity:0;}
}

.particle{
  opacity: 1;
  z-index: 0;
  position:absolute;
  height:32px;
  width:32px;
  background-color:rgb(154, 154, 154);
}

.particle.skid-mark{
  background-color:rgb(33, 33, 33);
  max-height:20px;
  max-width:20px;
}
.particle.cloud{
  background-color:rgba(255, 255, 255, 0.149);

  animation: particle-fade;
  animation-fill-mode: forwards;  

  animation-duration:1s;
}
.particle.dirt{
  background-color:rgba(106, 67, 15, 0.203);
  animation: particle-fade;
  animation-fill-mode: forwards;  

  animation-duration:2s;
}

.cell{
  width:var(--grid-cell);
  height:var(--grid-cell);
  background-color:white;
}

.road{
  background-color:orange;
}

.wall{
  background-color:red;
}

.dirt{
  background-color:rgb(131, 76, 25);
}

.spawn{
  background-color:#71c9ff;
}
.finish-up{
  background-image:url("./assets/arrow.svg");
  background-color:#73ff71;

}
.finish-down{
  background-image:url("./assets/arrow.svg");
  transform: rotate(180deg);
   background-color:#ff29e2;
}
.bumper{
  background-color:#0027d2;
}

.map-grid{
  display:flex;
  flex-direction:column;
}

.row{
  display:flex;
  flex-direction:row;
}

#import{
  display:flex;
  flex-direction:column;
  align-items: center;
  gap:20px;
  margin:20px;
}
textarea{
  background-color:rgb(0, 0, 0);
  color:white;

  width:500px;
  height:500px;
}



#time-header.current{
  font-weight:bold;
  color:rgb(255, 225, 0);
}

#time-header.final{
  font-weight:bold;
  color:rgb(20, 255, 51);
}

#replay{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.hidden{
  display:none;
}