:root {
  --pixel-size: 2px;
  --tile-pixel-count: 4;
  --grid-cell: calc( var(--pixel-size) * var(--tile-pixel-count));
  --rows: 20;
  --columns: 20;
  --bg: #242424;
  
  color:white;
}
@media( min-width: 700px ) {
  :root {
     --pixel-size: 3px;
  }
}
@media( min-width: 1000px ) {
  :root {
     --pixel-size: 4px;
  }
}


html, body {
  height: 100%;
  font-size:14px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: var(--bg);
  display: flex;
  flex-direction:row;
  gap:20px;
  align-items: center;
  justify-content: center;
}
a{
  color:white;
  text-decoration: none;
}

ul{
  padding:unset;
}
li{
  list-style: none;
}
.stats{
  display: flex;
  flex-direction:column;
  gap:5px;
}
.stats span{
  font-weight: lighter;
}
.stats li{
  display:flex;
  justify-content: space-between;
  gap:50px;
}
.pixel-art {
  image-rendering: pixelated;
}

.camera {
  width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  overflow: hidden;
  background: #818181;
  position:relative;
}

.map {
  image-rendering: pixelated;
  /* background-image: url("https://fxfactory.com/downloads/docs/noiseindustries/fxfactorypro/Thumbnails/Checkerboard.jpg"); */
  background-size: 100%;
  width: calc(var(--rows) * var(--grid-cell)); 
  height: calc(var(--columns) * var(--grid-cell));
  position: relative;
}

.map-grid{
  width: calc(var(--rows) * var(--grid-cell)); 
  height: calc(var(--columns) * var(--grid-cell));
  display:flex;
  position: absolute;
  background-image: url("https://images.unsplash.com/photo-1670607615489-ccb0b75fa748?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  opacity: 1;
}
.character {
  width: calc( var(--grid-cell) );
  height: calc( var(--grid-cell) );
  position: absolute;
  overflow:hidden;
  /* testing */
  border: 1px solid white;
}



 .character_spritesheet {
   z-index: 2;
  transform: rotate(0deg);
  position: relative;
  background: url("./assets/car.svg") no-repeat no-repeat;
  background-position:center;
  background-size: 100%;
  width: 100%;
  height:100%;
}

.particle{
  z-index: 0;
  position:absolute;
  height:32px;
  width:32px;
  background-color:rgb(154, 154, 154);
}

.particle.skid-mark{
  background-color:rgb(33, 33, 33);
  max-height:20px;
  max-width:20px;
}
.particle.cloud{
  background-color:rgba(255, 255, 255, 0.149);
}
.particle.dirt{
  background-color:rgba(106, 67, 15, 0.203);
}

.cell{
  width:var(--grid-cell);
  height:var(--grid-cell);
  background-color:white;
}

.road{
  background-color:orange;
}

.wall{
  background-color:red;
}

.dirt{
  background-color:rgb(131, 76, 25);
}

.spawn{
  background-color:#71c9ff;
}
.finish{
  background-color:#73ff71;
}
.map-grid{
  display:flex;
  flex-direction:column;
}

.row{
  display:flex;
  flex-direction:row;
}