:root{
  --gap-sm: 4px;
  --gap-md: 8px;
  --gap-lg: 16px;
  --gap-xl: 32px;
}

.row,.column{
  display:flex;
}

.row{
  flex-direction: row;
}

.col-6,.col-4,.col-3,.col-2{
  display:flex;
  flex-direction: column;
}
.col-6{
  width: 100%;
}

.col-4{
  width: 66%;
}
.col-3{
  width: 50%;
}
.col-2{
  width: 33%;
}

.gap-sm{
  gap:var(--gap-sm);
}

.gap-md{
  gap: var(--gap-md);
}

.gap-lg{
  gap:var(--gap-lg);
}

.gap-xl{
  gap:var(--gap-xl);
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}