@font-face {
  font-family: 'NESCyrillic';
  src: url('./fonts/NESCyrillic.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DisrespectfulTee';
  src: url('./fonts/DisrespectfulTee.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
