@import "font.css";

:root {
  --pixel-size: 2px;
  --tile-pixel-count: 2;
  --grid-cell: calc( var(--pixel-size) * var(--tile-pixel-count));
  --rows: 20;
  --columns: 20;

  --shade-100: #3e3e3e;
  --shade-0: #ffffff;
  --primary-50: #fdf8f1;
  --primary-100: #f9e6cf;
  --primary-300: #f6ca9d;
  --primary-500: #e69c69;
  --primary-700: #bf6f4a;
  --primary-900: #8a4836;
  --secondary-500: #FFA800;
  --danger-500: #ff2525;
  --success-500: #27B510;

  color:white;

  --ff-h: "DisrespectfulTee";
  --ff-p: "NESCyrillic";

  font-family: var(--ff-p);

  --display-1: 68px;
  --f-h1: 61px;
  --f-h2: 49px;
  --f-h3: 35px;
  --f-p1: 30px;
  --f-p2: 25px;
  --f-p3: 18px;
}




@media( min-width: 700px ) {
  :root {
     --pixel-size: 3px;
  }
}
@media( min-width: 1000px ) {
  :root {
     --pixel-size: 4px;
  }
}

html, body {
  height: 100%;
}

body {
  margin:0;
  background: var(--primary-900);
  display: flex;
  flex-direction:row;
  gap:20px;
  align-items: flex-start;
  justify-content: space-between;
}

main{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
}
nav{
  display:flex;
  flex-direction:column;
  gap:10px;
}
button{
  color: var(--shade-100);
}
a{
  color:white;
  text-decoration: none;
}

ul{
  padding:unset;
}
li{
  list-style: none;
}

button{
  border:none;
  padding:13px 47px;
}

button:hover{
  background-color:rgb(202, 202, 202);
  font-weight:bold;
}

button:active:hover{
  background-color:orange;
  color:white;
}
h1,h2,h3,h4,h5,h6,p{
  margin:0;
}


/* ------ new GUI CSS ------ */

.display-1,.f-h1,.f-h2,.f-h3{
  font-family: var(--ff-h);
  font-weight:normal;
}
.f-p1,.f-p2, button, input{
  font-family: var(--ff-p);
}

.display-1{
  font-size:var(--display-1);
}

.f-h1{
  font-size:var(--f-h1)
}

.f-h2{
  font-size:var(--f-h2)
}

.f-h3{
  font-size:var(--f-h3)
}

.f-p1{
  font-size:var(--f-p1)
}

.f-p2{
  font-size:var(--f-p2)
}

.f-p3{
  font-size:var(--f-p3)
}

.text-color-primary-900{
  color:var(--primary-900)
}
.text-color-shade-0{
  color:var(--shade-0)
}
.bg-danger-500{
  background-color: var(--danger-500);
}
.bg-success-500{
  background-color: var(--success-500)
}

.background{
  z-index: -1;
  width:100%;
  height:100%;
  overflow: hidden;
  position: absolute;
  image-rendering: pixelated;
}

.background div{
  width:200%;
  position:absolute;
  display:flex;
  flex-direction: row;
  animation: marquee 25s linear infinite;
}

.background img{
  height:100vh;
  width:100%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -200%; }
}

/* -- title -- */
h1.brand{
  position:relative;
}
.brand .text-main{
  position: relative;
  z-index:1;
}
.brand .text-style{
  position: absolute;
  top:10px;
  color: var(--shade-100);
  z-index:0;
  scale:1.05;
  opacity: 0.3;
  z-index:0;
}

.brand span{
  display:block;
}

.brand p{
  width:fit-content;
}

.menu.title .game-title{
  position: absolute;
  bottom: 106px;
  gap:79px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
/* -- map-list -- */
button.md-btn{
  width:520px;
}
button.wide-btn{
  width:100%;
}
/* ----------- gui css ----------- */

.stats
{
  display: flex;
  flex-direction:column;
  gap:5px;
  position:absolute;
  z-index:1;
  left:35;
  top:35;
  font-size:12px;
}

.stats span{
  font-weight: lighter;
}
.stats li{
  display:flex;
  justify-content: space-between;
  gap:50px;
}
.pixel-art {
  image-rendering: pixelated;
}

#game{
  width:100%;
  position:relative;
}
.column{
  display:flex;
  flex-direction:column;
}
.row{
  display:flex;
  flex-direction:row;
}
.menu{
  display:flex;
  flex-direction:column;
  gap:20px;
  align-items: center;
  justify-content: center;
  position:absolute;
  z-index:2;
  width: 100%;
  height: 100%;
  background-color: var(--shade-100)
}

.menu.main{
  gap:50px;
}


.menu.main > div{
  display:flex;
  flex-direction:column;
  align-items: center;
}


.menu.main nav{
  display:flex;
  flex-direction:column;
  gap:20px;
}
.menu.main nav a, .menu.main nav button{
  width:100%;
}

.menu.options {
}

.menu.options .settings-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  width:450px;
}

.menu.options .particle-limit{
  width:100%;
  accent-color: var(--secondary-500);
}

.menu.options button{
  width:100%;
  text-align: start;
}
.menu.options input{
  width:100%;
}
.menu.options.from-main{
}
.menu.options .delete-save{
  background-color: rgb(255 168 168);
}
.menu.options .disabled{
  background-color: rgb(79, 79, 79);
  color: gray;
  font-weight: normal;
}

.disabled{
  background-color: rgb(79, 79, 79);
  color: gray;
  font-weight: normal;
}
.menu.options .exit-save{
  background-color: rgb(175 255 179);
 }

.menu.title{
}

form.player-info{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:50px;
}

form.player-info > div{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.menu.enter-name input{
  text-align: center;
  /* set font size innna minute doe */
}

.color-pickers{
  display:flex;
  flex-direction: row;
  gap:10px;
}



.color-picker-wrapper{
  position: relative;
  width:50px;
  height:50px;
}
.color-picker{
  width:100%;
  height:100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-weight: normal;
  font-size:10px;
}

.color-picker-border.active{
  position: absolute;
  width:100%;
  height:100%;
  outline:2px solid white;
}

.set{
  background-color:rgb(0, 97, 181);
  color:white;
  font-weight:bold;
}

.menu.map-select{
}

.menu.map-select .map-info-wrapper{
  display: flex;
  gap: 15px;
  flex-direction: column;
  width:630px;
}
.menu.map-select .map-info{
  display:grid;
  grid-template-columns: 1fr 330px;
  /* flex-direction:row; */
  align-items: center;
  justify-content: center;
  gap:30px;
}

.menu.map-select .preview-wrapper{
  width:100%;
}
#map-preview{
  width:100%;
}
.menu.map-select .player-stats{
  width:100%;
}
.player-stats ul{
  gap:8px;
}
.player-stats .medal-row{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.player-stats .medal-row.locked-text{
  color: rgb(183, 183, 183);
}
.player-stats .medal-row > div{
  display:flex;
  align-items: center;
  gap:8px;
}
.menu.map-select .player-stats button{
  width:100px;
  padding: 13px 0;
}
.menu.map-select #leaderboard{
  width: 50%;
}
.menu.map-select #leaderboard li{
 display:flex;
  justify-content: space-between;
}
.menu.map-select #leaderboard li .time-menu{
  display:flex;
 }
.menu.map-select #leaderboard li button{
  padding:5px;
}
.menu.map-select #leaderboard li button img{
  width:10px;
  height:10px;
}

.menu.map-select .map-info-menu{
  display:flex;
  flex-direction: column;
  gap:8px;
}

.menu.map-select .map-info-menu .play-button{
  background-color: var(--secondary-500);
  color:white;
}

.menu.map-list{
  gap:50px;
}

.menu.map-list .map-options{
  width:520px;
  display:grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap:15px 52px;
}

.menu.map-list .map-options button{
  width:100%;
  padding:13px 27px;
  text-align: left;
}

.menu.map-select button:active{
  background-color:rgb(1, 9, 116);
  color:white;
  outline:none;
}
.menu.map-select #difficulty.disabled button{
  background-color:rgb(79, 79, 79);
  color: gray;
  font-weight:normal;
}

.menu.leaderboard{
  background-color: rgb(1, 1, 1);
  color:rgb(64, 255, 0);
  align-items: flex-start;
  padding-left: 50px;
}

.menu.leaderboard .map-info{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu.leaderboard .map-info #leaderboard{
  display:flex;
  flex-direction: column;
}

.menu.leaderboard .map-info .preview-wrapper{
  width:150px;
  height:fit-content;
}

.menu.leaderboard #leaderboard li{
  display:flex;
  justify-content: space-between;
  gap:20px;
}


.menu.leaderboard #leaderboard button{
  padding:2px 10px;
  background-color: rgb(64, 255, 0);
  width:120px;
}


.menu.finish{
  background-color:transparent;
}

.menu.finish .finish-container{
  display:flex;
  flex-direction:column;
  gap:20px;
  padding:50px 10%;
  
  height: 50%;
  width: 80%;

  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,0.4318321078431373) 0%, rgba(57,57,57,0.5438769257703081) 13%, rgba(41,41,41,0.748358718487395) 43%, rgba(37,37,37,0.944437149859944) 88%);
}

.menu.finish .finish-container nav{
  display:flex;
  flex-direction:row;
}

.menu.finish .best-time{
  color:red;
  display: inline-block;
  animation-name:grow;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-direction: normal, reverse;

  padding-left:20px;
}

@keyframes grow {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }

}

.menu-button{
  display:flex;

  position:absolute;
  z-index:1;
  right:0;
  padding:16px;
  gap:16px;
}


#import{
  display:flex;
  flex-direction:column;
  align-items: center;
  gap:20px;
  margin:20px;
}
textarea{
  background-color:rgb(0, 0, 0);
  color:white;

  width:500px;
  height:500px;
}


#time{
  width:85px;
  text-align: right;
}
#time-header.current{
  font-weight:bold;
  color:rgb(255, 225, 0);
}

#time-header.final{
  font-weight:bold;
  color:rgb(20, 255, 51);
}

#replay{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.hidden{
  display:none;
}

#mini-map{
  position:absolute;
  bottom:-1px;
  z-index:1;
}

#map-canvas{
  z-index:-1;
}

#player-canvas,#map-canvas{
  position:absolute;
  bottom: 50px;
  width:auto;
  height:150px;
}



#leaderboard .column{
  gap:5px;
}
#leaderboard li{
  font-weight:normal;
  font-size:12px;
}

/* ----------- game css ----------- */

.camera {
  height:100vh;
  width: 100%;
  overflow: hidden;
  position:relative;
}



.map {
  image-rendering: pixelated;
  background-size: 100%;
  width: calc(var(--columns) * var(--grid-cell)); 
  height: calc(var(--rows) * var(--grid-cell));
  position: relative;
}

.map-grid{
  width: calc(var(--columns) * var(--grid-cell)); 
  height: calc(var(--rows) * var(--grid-cell));
  display:flex;
  position: absolute;
  opacity: 1;
}
.character,.ghost {
  width: calc( var(--grid-cell) * 2);
  height: calc( var(--grid-cell) * 2);
  position: absolute;
/* 
  border: 1px solid white; */
}

.driver-name{
  font-weight:normal;
  font-size:10px;
  position:absolute;
  white-space: nowrap;
  bottom:15px;
  transform: translate(-50%, -50%);
}



 .character_spritesheet, .ghost_spritesheet{
  z-index: 0;
  position: relative;
  bottom:50%;
  right:50%;
  background:  no-repeat no-repeat;

  background-position:center;
  background-size: 100%;
  width: 100%;
  height:100%;
}
.ghost_spritesheet{ 
  opacity: 1;
}
@keyframes particle-fade {
  from{opacity:1;}
  to {opacity:0;}
}

.particle{
  opacity: 1;
  z-index: 0;
  position:absolute;
  height:32px;
  width:32px;
  background-color:rgb(154, 154, 154);
}

.particle.skid-mark{
  background-color: var(--primary-700);
  max-height:20px;
  max-width:20px;
}
.particle.cloud{
  background-color:rgba(244, 218, 169, 0.667);

  animation: particle-fade;
  animation-fill-mode: forwards;  

  animation-duration:1s;
}
.particle.dirt{
  background-color: var(--primary-500);
  animation: particle-fade;
  animation-fill-mode: forwards;  

  animation-duration:2s;
}

.cell{
  width:var(--grid-cell);
  height:var(--grid-cell);
  background-color:white;
}

.road{
  background-color: var(--primary-500)
}

.wall{
  background-color: var(--primary-900)
}

.dirt{
  background-color: var(--primary-700)
}

.spawn{
  background-color:#71c9ff;
}
.finish-up{
  background-color:#73ff71;

}
.arrow::after{  
  display:inline-block;
  width:100%;
  height:100%;
  content: "";
  background-image: var(--arrow);
  opacity: .4;
}
.finish-down{
  transform: rotate(180deg);
   background-color:#ff29e2;
}

.bumper{
  background-color:#0027d2;
}

.check-point-left-road{
  background-color: rgb(215 189 145);
}
.check-point-right-road{
  background-color: rgb(215 189 145);
}
.check-point-left-dirt{
  background-color: rgb(172 153 117);
}
.check-point-right-dirt{
  background-color: rgb(172 153 117);
}

.map-grid{
  display:flex;
  flex-direction:column;
}

.row{
  display:flex;
  flex-direction:row;
}
