@import "./stylesheets/reset.css";
@import "./stylesheets/typeSet.css";
@import "./stylesheets/grid.css";
@import "./stylesheets/gameGraphics.css";

/* This file holds all the styles for the GUI of the game.

Its organized as:

Variables 

Utility 

In Game Hud HUD 

Small Menu Components (button/ input/ background)

  Background 

Pages

  Title

  Welcome Screen


*/

:root {
  --pixel-size: 1px;
  --tile-pixel-count: 2;
  --grid-cell: calc( var(--pixel-size) * var(--tile-pixel-count));
  --rows: 20;
  --columns: 20;


  --shade-100: #131313;
  --shade-0: #ffffff;
  --primary-50: #fdf8f1;
  --primary-100: #f9e6cf;
  --primary-300: #f6ca9d;
  --primary-500: #e69c69;
  --primary-700: #bf6f4a;
  --primary-900: #8a4836;
  --secondary-500: #FFA800;
  --danger-500: #ff2525;
  --success-500: #27B510;

  --grey-50: #CBCBCB;
  --grey-100: #A7A7A7;
  --grey-500: #524F4E;
  --grey-900: #282626;
  color:white;
  background-color: var(--shade-100);
}
a{
  text-decoration: none;
}
a, a:focus{
  color: white;
}



/* utility classes */

.hidden{
  display:none;
}
.text-primary-900{
  color:var(--primary-900);
}
.text-secondary-500{
  color:var(--secondary-500);
}
.text-shade-0{
  color:var(--shade-0);
}

.text-grey-50{
  color:var(--grey-50)
}
.text-grey-100{
  color:var(--grey-100)
}
.text-grey-500{
  color:var(--grey-500)
}

.text-danger-500{
  color:var(--danger-500);
}
.text-success-500{
  color:var(--success-500);
}
.bg-danger-500{
  background-color: var(--danger-500);
}
.bg-success-500{
  background-color: var(--success-500)
}
.bg-secondary-500{
  background-color: var(--secondary-500)
}

/* minimalistic GUI CSS */


#gui-container{
  display:flex;
  align-items: center;
  justify-content: center;
  z-index:1;
  position:absolute;
  height:100%;
  width:100%;
}

.menu-container{
  width:1076px;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--shade-100); */
}





canvas{
  width:100px;
}

.background{
  filter:brightness(.66);
  scale:1.1;
  z-index: -1;
  width:100%;
  height:100%;
  overflow: hidden;
  position: absolute;
  image-rendering: pixelated;
}

.background div{
  width:300%;
  position:absolute;
  display:flex;
  flex-direction: row;
}

.background-layer-1{
  animation: marquee 122s linear infinite;
}
.background-layer-2{
  animation: marquee 63s linear infinite;
}
.background-layer-3{
  animation: marquee 21s linear infinite;
}
.background-layer-4{
  animation: marquee 9s linear infinite;
}
.background-layer-5{
  animation: marquee 3s linear infinite;
}

.background img{
  height:100vh;
  width:100%;
}

@keyframes marquee {
  0% { left: 0; bottom: 0; }
  50% {bottom:3%;}
  100% { left: -150%; bottom:0%;}
}

/* ----- title screen ----- */


.text-logo{
  display:flex;
  flex-direction: column;
  gap:var(--gap-sm);
  text-shadow: 0px 6px 0px var(--shade-100);
}

.text-logo__header{
  position: relative;
  left: -7px;
  font-size: var(--f-logo-header);
  color: white;
}
.text-logo__subheader{
  font-family: var(--ff-h );
  font-size: var( --f-logo-subheader);
  color: var(--secondary-500);
}

.text-logo__header.text-logo__header--small{
  font-size: var(--f-logo-header-small);
}

.text-logo__subheader.text-logo__subheader--small{
  font-size: var( --f-logo-subheader-small);
}

.clickable, button, a{
  cursor: pointer;
}
.title-menu{
  padding-top: 200px;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: var(--gap-xl);

  /* blurry scale fix  */
  image-rendering: pixelated;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.zoom-in{
  animation: zoomIn 1s ease-in 1;
}

.flashing{
  animation: blinker 2s step-start infinite;
}



@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    scale:90;
  }
  100%{
    scale:1;
  }
}

/* -------- Welcome screen -------- */

.welcome-menu{
  height:100%;
  align-items: center;
  justify-content: center;
}


/*  pixel button  */ 

button{
  background: transparent;
  border: none;
  padding:0;
}

.pixel-button{
  position: relative;
  width:100%;
  height:32px;
}

.pixel-button__images{
  display: grid;
  width: 100%;
  height:100%;
  grid-template-columns: 8px 1fr 8px;
}
.pixel-button__left-image,
.pixel-button__right-image,
.pixel-button__center-image{
  height:32px;
  width:100%;
}

.pixel-button__text{
  display: flex;
  align-items: center;
  gap:16px;
  position:absolute;
  bottom:50%;
  left:50%;
  transform:translate(-50% , 50%);
  white-space: nowrap;
}

.pixe-button__icon{
  width:16px;
  height:16px;
  background-color: red;
}
.pixel-button__text--align-start{
  left: 20px;
  transform: translate(-0% , 50%);
}

.pixel-button__text--align-left{
  left: 20px;
  transform: translate(-0% , 50%);
}

/*  icon button  */
.icon-button{
  width:32px;
  height:32px;
} 

.icon-button__selector img{
  /* keybinds menu */
  width:80%;
  height:80%;
  image-rendering: pixelated;
}
.key-display-active{
  position:relative;
  animation: wave_vertical 2s ease-in-out infinite;
}

@keyframes wave_vertical {
  0% {
    top:0px;
  }
  50%{
    top:4px;
  }
  50%{
    top:-4px;
  }
  100%{
    top:0px;
  }
}
/* ------- signup screen ------- */

.text-input{
}
.text-input__label.text-input__label--view-only{
  color:grey;
}
.text-input__text{
  padding:13px 16px;
  background-color:#40404095;
  border:none;
  color:rgb(196, 196, 196);
}

.text-input__text.text-input__text--view-only{
  padding-left:0px;
  font-size:var(--f-p2);
  background-color:transparent;
  pointer-events: none;
}

.text-input__text.text-input__text--view-only::placeholder{
  color:white;
}

.profile-scroller{
  justify-content: center;
}

.profile-scroller.profile-scroller--view-only .icon-button{
  display:none;
}

.profile-scroller__image{
  width:150px;
  image-rendering: pixelated;
}

.profile-scroller__image--avatar{
  scale:.6;
}

.link-secondary-500{
  color:var(--secondary-500);
  text-decoration: underline;
}

/* ------- signin screen ------- */

/* ------- main menu ------- */

.main-menu,.main-menu__navigation{
  align-items: center;
}

/* ------- campaign ------- */

.background--blurry{
  filter: brightness(.50) blur(10px);
}

/* ------- level ------- */

.map-preview-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map-preview{
  width:auto;
  max-height: 175px;
}
.map-preview--sm{
  max-height: 90px;
}

.difficulty-selector{
}

.medal-row{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
  align-items: center;
}

.medal-row__menu{
  width:50%;
}

.medal-row__time{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:var(--gap-md);
}

/* ------- hidden menu ------- */

.hidden-menu{
  padding:20px;
}

.hidden-menu__navigation{
  position:absolute;
  top:var(--gap-xl);
  right:var(--gap-xl);
}

.hidden-menu_game-info{
  position:absolute;
  top:var(--gap-xl);
  left:50%;
  transform:translate(-50%, 0%)
}

.hidden-menu__extra-stats{
  position:absolute;
  top:var(--gap-xl);
  left:var(--gap-xl);
}

.hidden-menu__dashboard{
  position:absolute;
  bottom:var(--gap-xl);
  left:50%;
  transform:translate(-50%, 0%)
}

#mini-map{
  position:absolute;
  bottom:var(--gap-xl);
  left:var(--gap-xl);
  z-index:0;
}

#map-canvas{
  z-index:-1;
}

#player-canvas,#map-canvas{
  position:absolute;
  bottom: 0;
  width:auto;
  height:150px;
}

#steering-wheel{
  transition-property: transform;
  transition-duration: 200ms;
}

.pedal{
  width:100px;
  height:20px;
  text-align: center;
  background-color:white;
  color:var(--shade-100);

  transition-property: transform opacity;
  transition-duration: 200ms;
}

/* ------- finish menu ------- */

.opaque-background{
  background-color: #151515ad;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  animation: bgFadeIn 200ms linear 1;
}

.dark-background{
  background-color: var(--shade-100);
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  animation: bgFadeIn 200ms linear 1;
}

.dark-background--saturated{
  background-color:#36000a;
}

@keyframes bgFadeIn {
  0%{
    background-color: transparent;
  }

  100%{
    background-color: #151515ad;
  }
}

.finish-menu{

}

.new-best{
  margin-left:8px;
  transform:rotate(10deg);
  display:inline-block;
  color: var(--secondary-500);
  /* animation: grow 3s linear infinite; */
  animation: grow 4s linear infinite;
}

@keyframes grow {
  0% {
    scale:1;
  }
  50%{
    scale:1.2;
  }
  100%{
    scale:1;
  }
}

/* settings page  */

/* settings / keybinds */
.keybind-list-grid{
  align-items: center;
  display:grid;
  grid-auto-flow: row;
  gap:32px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}
.keybind-list-grid h2{
 width:fit-content;
}
.keyboard-displays, .controller-displays{
  gap:16px;
}
.primary-display, .secondary-display{
  background-color:grey;
  width:30%;
  height:30%;
  aspect-ratio: 1/1;
}

.key-display-active {
  background-color:rgba(255, 255, 255, 0.23);
}
/* input slider component */


.slider {
  border-radius: 8px;
  height: 4px;
  width: 100px;
  outline: none;
  -webkit-appearance: none;
}

.slider[type='range']::-webkit-slider-thumb {
  width: 12px;
  -webkit-appearance: none;
  height: 24px;
  background: url("../src/assets/inputs/slider_thumb.png");
  border-radius: 2px;
}

/* input checkbox/ toggle component */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  height: 27px;
  width: 64px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__inner {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 16px;
  right: 0;
  bottom: 0;
  background: url("./assets/inputs/toggle-background-disabled.png");
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch__inner:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 64px;
  left: 0px;
  bottom: 0px;
  background: url("./assets/inputs/toggle-thumb.png");
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch__inner {
  background: url("./assets/inputs/toggle-background-enabled.png");
  background-repeat: no-repeat;
}

input:focus + .switch__inner {
  /* box-shadow: 0 0 1px #2196F3; */
}

input:checked + .switch__inner:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* leaderboards */

.campaign-leaderboard-grid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: var(--gap-sm);
}

/* leaderboard */

.leaderboard-menu__header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard__time{
  justify-content: space-between;
}

.time__menu{
  width:400px;
  gap:var(--gap-md);
  align-items: center;
}

.scroll-container{
  max-height:400px;
  overflow-y:scroll;
  overflow-x: hidden;
}

.scroll-container--tall{
  max-height:100vh;
}

/* width */
::-webkit-scrollbar {
  width: 45px;
  overflow:visible;
}

/* Track */
::-webkit-scrollbar-track {
  overflow:visible;
}

::-webkit-scrollbar-thumb {
  background: url("./assets/scrollbar/scroll-bar-thumb-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  image-rendering: pixelated;
}

/*  --------- auth status (profile widget) */

.auth-status{
  position:absolute;
  z-index: 1;
  top:16px;
  right:16px;
  display:flex;
  align-items: center;
  gap:var(--gap-lg);
}

.auth-status .icon-button, 
.auth-status .icon-button__image,
.auth-status__image{
  width:45px;
  height:45px;
  image-rendering: pixelated;
}

/* --- map maker styles --- */
.map-maker__container{
  display:grid;
  grid-template-columns: 420px 1fr;
  gap:var(--gap-lg);
  padding-left:var(--gap-lg);
  grid-template-rows:1fr;
  width:100%;
  height:100%;
  justify-content: center;
}
.map-maker__menu{
}

.map-maker__menu h1, .map-maker__menu h2{
  text-align: center;
}

.map-maker__menu h1:first-child{
  margin-top:100px;
}
.map-maker__menu > div:last-child{
  margin-bottom:100px;
}

.map-maker-canvas__wrapper{
  position: relative;
  padding-top:86px;
  height:100%;
}

.map-maker-canvas{
  height:auto;
  width:100%;
  image-rendering: pixelated;
  /* background:url("https://images.contentstack.io/v3/assets/bltdd99f24e8a94d536/blt867d5477b7adc192/627be2023debbf3afdd2ea1e/get-well-flowers-146761-silo-260x284.jpg?quality=85&auto=webp&optimize={medium}"); */
}

.map-maker-canvas__text{
  height:0px;
  position:fixed;
  padding-left:var(--gap-lg);
  left:calc(420px + (var(--gap-lg)) * 2);
  top:16px;
}

.paint-tile{
  width:20px;
  height:20px;
}
.paint-tile--selected{
  border: 3px solid white;
}

.paints{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:repeat(6,1fr);
}

.brush-sizes{
  display:flex;
  flex-direction: row;
  gap:var(--gap-lg)
}

.brush-size{
  padding-bottom:5px;
}
.brush-size--selected{
  border-bottom:5px solid var(--secondary-500);
}


.canvas-overlay__image{
  position:absolute;
  top:86px;
  width:100%;
  opacity: .3;
  pointer-events: none;
}

.canvas-overlay__image--hidden{
  display:none;
}

.spawn-angle__arrow{
  height:10px;
  margin-left:6px;
  margin-right:2px;
}

/* result banner */

.result-banner__container{
  position: absolute;
  left:20px;
  top:20px;
  display:flex;
  flex-direction: column;
  gap:8px;
  background-size:100%;
}

.result-banner{
  background-color:#0000008c;
  padding:10px 30px;
  width:330px;
}

/* async loader */

.async-loader__wrapper{
  display:none;
  position: absolute;
  z-index:3;
  bottom:100px;
  left:20px;
  width:100px;
  image-rendering: pixelated;
  height:40px;
}

.async-loader-cover_wrapper{
  display:none;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  z-index:3;
  background-color: rgba(49, 49, 49, 0.726);
  width: 100%;
  height: 100%;
  position: absolute;
  image-rendering: pixelated;
  top: 0;
  left: 0%;
  bottom: 0;
}


.async-loader__wrapper.async-loader__wrapper--visible{
  display:block;
}
.async-loader-cover_wrapper.async-loader__wrapper--visible{
  display:flex;
}

.async-loader__image{
  width:100%;
}
.async-loader-cover_wrapper .async-loader__image{
  width:10%;
}
.async-loader__text{
  text-align: right;
}

/* community maps upload  */

.map-upload-canvas__wrapper{
  height:100%
}
.map-upload-canvas{
  height:auto;
  width:100%;
  image-rendering: pixelated;
}

.upload-map__menu{
  align-items: center;
}


/* community maps preview  */

.map-info-nodes{
  display:flex;
  flex-direction: column;
  gap:var(--gap-lg)
}

.map-info-node{
  display:flex;
  flex-direction: column;
  gap:var(--gap-sm)
}

.map-info-node__footer{
  display:flex;
  flex-direction: column;
  gap:0px;
  line-height: .6;
}

.map-info-node__subtext{
  color:grey;
}

.map-info-node__image{
  height:32px;
  width:32px;
}

.community-map-grid{
  position: relative;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.community-map-grid--2{
  grid-template-columns: 1fr 1fr;
}

