@import "./stylesheets/reset.css";
@import "./stylesheets/typeSet.css";
@import "./stylesheets/grid.css";
@import "./stylesheets/gameGraphics.css";

/* This file holds all the styles for the GUI of the game.

Its organized as:

Variables 

Utility 

In Game Hud HUD 

Small Menu Components (button/ input/ background)

  Background 

Pages

  Title

  Welcome Screen


*/

:root {
  --pixel-size: 1px;
  --tile-pixel-count: 2;
  --grid-cell: calc( var(--pixel-size) * var(--tile-pixel-count));
  --rows: 20;
  --columns: 20;


  --shade-100: #3e3e3e;
  --shade-0: #ffffff;
  --primary-50: #fdf8f1;
  --primary-100: #f9e6cf;
  --primary-300: #f6ca9d;
  --primary-500: #e69c69;
  --primary-700: #bf6f4a;
  --primary-900: #8a4836;
  --secondary-500: #FFA800;
  --danger-500: #ff2525;
  --success-500: #27B510;

  color:white;

  background-color: var(--secondary-500);
}

a{
  color:white;
  text-decoration: none;
}

/* utility classes */

.hidden{
  display:none;
}
.text-primary-900{
  color:var(--primary-900)
}
.text-secondary-500{
  color:var(--secondary-500)
}
.text-shade-0{
  color:var(--shade-0)
}
.bg-danger-500{
  background-color: var(--danger-500);
}
.bg-success-500{
  background-color: var(--success-500)
}
.bg-secondary-500{
  background-color: var(--secondary-500)
}

/* minimalistic GUI CSS */

#gui-container{
  display:flex;
  align-items: center;
  justify-content: center;
  z-index:1;
  position:absolute;
  height:100%;
  width:100%;
}

.menu-container{
  width:1076px;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--shade-100); */
}



#mini-map{
  position:absolute;
  bottom:-1px;
  z-index:1;
}

#map-canvas{
  z-index:-1;
}

#player-canvas,#map-canvas{
  filter: drop-shadow(0px 3px 2px #0b0b0b4d);
  position:absolute;
  bottom: 50px;
  width:auto;
  height:150px;
}

canvas{
  width:100px;
}

.background{
  filter:brightness(.66);
  scale:1.1;
  z-index: -1;
  width:100%;
  height:100%;
  overflow: hidden;
  position: absolute;
  image-rendering: pixelated;
}

.background div{
  width:300%;
  position:absolute;
  display:flex;
  flex-direction: row;
}

.background-layer-1{
  animation: marquee 122s linear infinite;
}
.background-layer-2{
  animation: marquee 63s linear infinite;
}
.background-layer-3{
  animation: marquee 21s linear infinite;
}
.background-layer-4{
  animation: marquee 9s linear infinite;
}
.background-layer-5{
  animation: marquee 3s linear infinite;
}

.background img{
  height:100vh;
  width:100%;
}

@keyframes marquee {
  0% { left: 0; bottom: 0; }
  50% {bottom:3%;}
  100% { left: -150%; bottom:0%;}
}

/* ----- title screen ----- */


.text-logo{
  display:flex;
  flex-direction: column;
  gap:var(--gap-sm);
  text-shadow: 0px 6px 0px var(--shade-100);
}

.text-logo__header{
  position: relative;
  left: -7px;
  font-size: var(--f-logo-header);
}

.text-logo__subheader{
  font-family: var(--ff-h );
  font-size: var( --f-logo-subheader);
  color: var(--secondary-500);
}

.title-menu{
  justify-content: flex-end;
  align-items: center;
  height: 90%;
  gap:var(--gap-xl);

  /* blurry scale fix */
  image-rendering: pixelated;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.zoom-in{
  animation: zoomIn 3s ease-in 1;
}

.flashing{
  animation: blinker 2s step-start infinite;
}



@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    scale:400;
    position: relative;
    bottom:40000px;
  }
  100%{
    scale:1;
    position: relative;
    bottom:0;
  }
}

/* -------- Welcome screen -------- */

.welcome-menu{
  height:100%;
  align-items: center;
  justify-content: center;
}


/*  pixel button  */ 

button{
  background: transparent;
  border: none;
}

.pixel-button{
  position: relative;
  width:100%;
  height:32px;
}

.pixel-button__images{
  display: grid;
  width: 100%;
  height:100%;
  grid-template-columns: 8px 1fr 8px;
}
.pixel-button__left-image,
.pixel-button__right-image,
.pixel-button__center-image{
  height:32px;
  width:101%;
}

.pixel-button__text{
  position:absolute;
  bottom:50%;
  left:50%;
  transform:translate(-50% , 50%);
  white-space: nowrap;
}

/* ------- signup screen ------- */

.text-input{
}

.text-input__text{
  padding:13px 16px;
  background-color:#40404095;
  border:none;
  color:white;
}

.profile-scroller{
  justify-content: center;
}

.profile-scroller__image{
  width:150px;
  image-rendering: pixelated;
}

.profile-scroller__image--avatar{
  scale:.6;
}

.link-secondary-500{
  color:var(--secondary-500);
  text-decoration: underline;
}